[github]
	user = luishgh
	email = 51053603+luishgh@users.noreply.github.com
	signingkey = 29FA679F288F8C9E
[gitlab]
	user = luishgh
	email = 8002042-luishgh@users.noreply.gitlab.com
	signingkey = CA8881B3C5EC1F9B
[commit]
	gpgsign = true

[user]
	email = 51053603+luishgh@users.noreply.github.com
	name = luishgh
	signingkey = 29FA679F288F8C9E
[http]
	sslVerify = false
